AIRFLOW_UID=50000

AIRFLOW_SMTP_PASSWORD=your_smtp_password

MARKETPLACE_DB_USER=your_database_user
MARKETPLACE_DB_PASSWORD=your_database_password
MARKETPLACE_DB_HOST=postgres
MARKETPLACE_DB_PORT=5432
MARKETPLACE_DB_NAME=marketplace_dw